[submodule "themes/hugo-academic"]
	path = themes/hugo-academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = git@github.com:joshnygaard/joshnygaard.github.io.git
	branch = master
[submodule "joshnygaard.github.io"]
	path = joshnygaard.github.io
	url = git@github.com:joshnygaard/joshnygaard.github.io.git
	branch = master
